.header-container {
    align-items: center;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-around;
}

.header-img-bottle1 {
    width: 10%;
}

.header-img-logo {
    width: 15%;
}

.header-img-bottle2 {
    height: 100px;
    width: 100px;
}