@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-img-bottle1 {
    width: 11%;
    padding-top: 0;
}

.header-img-logo {
    width: 15%;
}

.header-title {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.header-img-bottle2 {
    height: auto;
    width: 10%;
    display: flex;
    justify-content: flex-end;

}