.produtos {
    background-color: blue;
    width: 60vw;
    height: 500px;
}

.container {
    width: 90%;
    height: 90%;
    background-color: aqua;
    padding: 3% 5% 0 5%;
}

.container-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    height: 380px;
    margin-right: 20px;
    padding: 3%;
}

.container-card img {
    background-color: chartreuse;
    width: 50%;
    height: 70%;
}

.container-descrição {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.container-link {
    display: flex;
    justify-content: flex-end;
    background-color: crimson;
}