.produtos {
    width: 50vw;
    height: 500px;
}

.container {
    width: 90%;
    height: 100%;
    background-color:rgb(241, 236, 236);
    padding: 3% 5% 0 5%;
}

.container-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    height: 380px;
    margin-right: 20px;
    padding: 3%;
}

.container-card img {
    width: 50%;
    height: 70%;
}

.container-descrição {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.container-link {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.link {
    background-color: #DB1E53;
    border-radius: 5px;
    padding: 8px;
}

.pais {
    display: flex;
}

.flag img {
    width: 20px;
    margin: 0 0 -3px 4px;
}
