@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.products-container {
    background-color: rgb(241, 236, 236);
    border-radius: 1%;
    width: 60rem;
    padding-bottom: 30px;
    margin-left: 20px;
}

.products-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding: 30px 20px;
}

.products-objects {
    width: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.test {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.products-informations {
    width: 650px;
}

/* .products-imag {
    display: flex;
    justify-content: center;;
} */